body {
	background: url('../Img/gray.jpg');
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	height: 100%;
}

html {
	height: 100%;
}

h3 {
	font-family: century gothic !important;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

p {
	font-family: century gothic !important;
	font-size: 13px;
}

pre {
	font-size: 13px;
	font-family: century gothic;
}

a {
	color: white !important;
	text-decoration: none !important;
}

a:hover {
	color: #FF8725 !important;
}

#wrapper {
	height: 100%
}

body > #wrapper {
	height: auto;
	min-height: 100%;
}

.header {
	background: rgb(93, 156, 200);
    height:100px;
    left:0;
	width:100%;
	top:0;
	position: fixed;
	z-index: 50;
	padding: 8px;
}

.logo {
	float: left;
	padding-right: 15px;
	border-right: 2px white solid;
}

.title {
	color: white;
	font-family: yp;
	font-size: 37px;
	letter-spacing: 0.5px;
    line-height: 87px;
    text-align: left;
    padding-left: 15px;
    margin-left: 250px;
}

.container {
	margin:auto;
	margin-top: 130px;
	margin-bottom: 30px;
	height: auto;
	width: auto;
	position: relative;
	z-index: 1;
}

.display {
	background: rgba(255, 255, 255, .6);
	padding: 25px 65px 25px 65px;
	margin-left: 50px;
	height: auto;
	width: 680px;
	float: left;
	
	box-shadow: 7px 7px 5px rgba(144, 144, 144, 0.7);
}

.display h3 {
	color: #FF8725;
	letter-spacing: 0.5px;
}

.display p {
	border-top: 2px solid rgb(40,40,40);
	padding: 15px;
}

.ls {
	right: 100px;
	width: 380px;
	position: fixed;
}

#log {
	background: rgba(255, 255, 255, .6);
	padding: 1px 20px 12px 20px;
	margin: auto;
	width: 380;
	height: auto;
	
	box-shadow: 7px 7px 5px rgba(144, 144, 144, 0.7);
}

.footer-cont {
	background: rgb(40, 40, 40);
	height: 50px;
	margin-top: -50px;
	position: absolute;
	width: 100%;
	clear: both;
}

.footer {
	margin: 0 auto;
	margin-top: 8px;
	width: 900px;
	text-align: center;
}

.footer p,a {
	color: white;
	font-size: 12px;
	font-family: century gothic;
}

.control-group {
	margin-bottom: -10px;
}

.help-block {
	color: #FF0040 !important;
}

@font-face {
	font-family: yp;
	src: url('../Fonts/yellow peas.ttf');
}

@font-face {
	font-family: basic;
	src: url('../Fonts/basictitlefont.ttf');
}