html, body {
	background: url('../img/gray.jpg');
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: century gothic !important;
}

h3 {
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

p {
	font-size: 13px;
}

a {
	color: #D8D8D8 !important;
	text-decoration: none !important;
}

a:hover {
	color: #FF8725 !important;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

.header {
	background: rgb(93, 156, 200);
	width: 100%;
    height:100px;
    top:0;
    left:0;
	position: fixed;
	z-index: 50;
	padding: 8px 0px;
}

.logo {
	float: left;
	padding-right: 15px;
	border-right: 2px white solid;
}

.title {
	color: white;
	font-family: yp;
	font-size: 37px;
	letter-spacing: 0.5px;
    line-height: 87px;
    text-align: left;
    padding-left: 15px;
    margin-left: 250px;
}

.navbar {
	top: 100px !important;
	border: 0 !important;
}

.navbar-inverse {
	background: rgba(40,40,40, 0) !important;
}

.navbar a:hover {
	color: white !important;
}

.container-fluid {
	padding-right: 20px !important;
}

#myNavbar li a{
	font-size: 15px !important;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

ul.nav.navbar-nav.navbar-right{
	padding: 10px;
}

.navbar-nav > li {
	padding-right: 5px;
}

.btn {
	padding: 7px 12px !important;
}

.navbar-inverse .btn-link {
	font-size: 16px;
	border-radius: 5px;
	background: rgb(40,40,40);
	color: #D8D8D8 !important;
	text-decoration: none !important;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out
}

.navbar-inverse .btn-link:hover {
	background: rgb(40,40,40);
	color: #3A465E !important;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out
}

.container {
	margin:auto;
	margin-top: 95px;
	padding-bottom: 110px;
	height: auto;
	width: 90%;
	z-index: 5;
}

.display {
	background: rgba(255, 255, 255, .6);
	padding: 25px 65px 25px 90px;
	margin: auto;
	margin-top: 40px;
	height: auto;
	width: 1000px;
	box-shadow: 7px 7px 5px rgba(144, 144, 144, 0.7);
}

.display h3 {
	color: #FF8725;
	letter-spacing: 0.5px;
}

.display p {
	border-top: 2px solid rgb(40,40,40);
	padding: 15px;
}

.modal {
	margin-top: 50px;
	font-family: century gothic !important;	
}

.modal-dialog {
	width: 500px !important;
}

.modal-body {
	padding: 20px 40px 20px 40px !important;
	max-height: 420px;
    overflow-y: auto;
}

.active a {
	color: white !important;
	background: #3A465E !important;
	box-shadow: 0px 0px 40px #212835 inset;
	
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.active a:hover {
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.ativa-scroll {
	padding: 0px !important; 
}

.nav-tabs > li > a {
	font-size: 12px;
	color: #333 !important;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.nav-tabs > li.active > a {
	color: white !important;
}

.control-group {
	padding: 10px 35px 0px 35px;
	margin-bottom: 0px;
}

.control-label {
	width: 155px;
	float: left;
	text-align: right;
}

.controls {
	margin-left: 170px;
	width: auto;
}

.line > .form-control {
	display: inline !important;
	width: 126px !important;
}

#login .modal-body {
	padding: 20px 60px 20px 60px !important;
}

#login .control-label {
	width: 100px;
}

#login .controls {
	margin-left: 120px;
}

.help-block {
	color: #FF0040 !important;
}

.footer-cont {
	background: rgb(40, 40, 40);
	height: auto;
	padding: 8px 0px 0px 0px;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.footer {
	margin: auto;
	width: 900px;
	text-align: center;
}

.footer p,a {
	color: white;
	font-size: 12px;
}

.footer span {
	font-style: italic;
	color: #A4A4A4;
}

@font-face {
	font-family: yp;
	src: url('../fonts/yellow peas.ttf');
}

@font-face {
	font-family: century gothic;
	src: url('../fonts/Century Gothic.ttf');
}